/ProjectLauncher/ProjectLauncher/.vs
.env
/ProjectLauncher/ProjectLauncher/obj
/ProjectLauncher/ProjectLauncher/bin
/Fitness-App-Backend/FitnessAppBackend.Tests/bin
/Fitness-App-Backend/FitnessAppBackend.Tests/obj
Fitness-App-Backend/FitnessAppBackend/appsettings.json
